html {
  font-size: 10px;
  background: url(./discipline-freedom-fx.jpg) center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  min-height: 100vh;
  max-width: 920px;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.key {
  height: 125px;
  width: 145px;
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  text-align: center;
  color: white;
  background: rgb(255, 0, 0, 0.457);
  text-shadow: 1px 1px .5rem rgb(0, 0, 0);
}

.playing {
  transform: scale(1.1);
  border-color: hsla(0, 100%, 50%, 0.475);
  box-shadow: 0 0 1rem hsla(0, 100%, 50%, 0.475);
}

kbd {
  display: block;
  font-size: 4rem;
  margin: .5em auto;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffffff;
}


/* Built on Wes Bos' JavaScript30.com Drumkit */
